---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v3.2/me/messages?access_token=FACEBOOK_ACCESS_TOKEN
    body:
      encoding: UTF-8
      string: '{"recipient":{"id":"3293340114019303"},"message":{"text":"Not found,
        please try again."},"messaging_type":"UPDATE"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Business-Use-Case-Usage:
      - '{"100316455036764":[{"type":"messenger","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Content-Type:
      - application/json; charset=UTF-8
      Facebook-Api-Version:
      - v7.0
    body:
      encoding: UTF-8
      string: '{"recipient_id":"3293340114019303","message_id":"m_HYHbCHNjih-Affiz_buXre_XJbbklk63g8hYLlUzf0JK-4bxDTjBNCXrnV2yFIwVilDnInlShY90G8dgBidmDQ"}'
  recorded_at: Sat, 23 May 2020 02:10:28 GMT
recorded_with: VCR 5.1.0
