---
http_interactions:
- request:
    method: get
    uri: https://www.goodreads.com/review/show?format=xml&id=1915387742&key=GOODREADS_KEY
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"908a3e713259e76e0ea77a3f724e42ef"
      X-Amz-Rid:
      - H08TFC16WQQPP68FJEG7
    body:
      encoding: ASCII-8BIT
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<GoodreadsResponse>\n  <Request>\n
        \   <authentication>true</authentication>\n      <key><![CDATA[GOODREADS_KEY]]></key>\n
        \   <method><![CDATA[review_show]]></method>\n  </Request>\n      <review>\n
        \ <id>1915387742</id>\n    \n  <user>\n    <id>597461</id>\n    <uri>kca://profile:goodreads/A2ZJM6A94HHSR3</uri>\n
        \   <name>Elyse </name>\n    <display_name>Elyse  Walters</display_name>\n\n
        \   <location>San Jose, CA</location>\n\n    <link><![CDATA[https://www.goodreads.com/user/show/597461-elyse-walters]]></link>\n\n
        \   <image_url><![CDATA[https://images.gr-assets.com/users/1514246949p3/597461.jpg]]></image_url>\n
        \   <small_image_url><![CDATA[https://images.gr-assets.com/users/1514246949p2/597461.jpg]]></small_image_url>\n
        \   <has_image>true</has_image>\n\n  </user>\n\n    <book>\n  <id type=\"integer\">122</id>\n
        \ <isbn>034541005X</isbn>\n  <isbn13>9780345410054</isbn13>\n  <text_reviews_count
        type=\"integer\">4610</text_reviews_count>\n  <uri>kca://book/amzn1.gr.book.v1.BAUnJ-a7xc4Ps5_IZ0RL-A</uri>\n
        \ <title>The Power of One (The Power of One, #1)</title>\n  <title_without_series>The
        Power of One</title_without_series>\n  <image_url>https://s.gr-assets.com/assets/nophoto/book/111x148-bcc042a9c91a29c1d680899eff700a03.png</image_url>\n
        \ <small_image_url>https://s.gr-assets.com/assets/nophoto/book/50x75-a91bf249278a81aabab721ef782c4a74.png</small_image_url>\n
        \ <large_image_url/>\n  <link>https://www.goodreads.com/book/show/122.The_Power_of_One</link>\n
        \ <num_pages>544</num_pages>\n  <format>Paperback</format>\n  <edition_information/>\n
        \ <publisher>Ballantine Books</publisher>\n  <publication_day>29</publication_day>\n
        \ <publication_year>1996</publication_year>\n  <publication_month>9</publication_month>\n
        \ <average_rating>4.35</average_rating>\n  <ratings_count>75074</ratings_count>\n
        \ <description>In 1939, as Hitler casts his enormous, cruel shadow across
        the world, the seeds of apartheid take root in South Africa. There, a boy
        called Peekay is born. His childhood is marked by humiliation and abandonment,
        yet he vows to survive and conceives heroic dreams, which are nothing compared
        to what life actually has in store for him. He embarks on an epic journey
        through a land of tribal superstition and modern prejudice where he will learn
        the power of words, the power to transform lives and the power of one.</description>\n<authors>\n<author>\n<id>63</id>\n<name>Bryce
        Courtenay</name>\n<role></role>\n<image_url nophoto='false'>\n<![CDATA[https://images.gr-assets.com/authors/1277671069p5/63.jpg]]>\n</image_url>\n<small_image_url
        nophoto='false'>\n<![CDATA[https://images.gr-assets.com/authors/1277671069p2/63.jpg]]>\n</small_image_url>\n<link><![CDATA[https://www.goodreads.com/author/show/63.Bryce_Courtenay]]></link>\n<average_rating>4.20</average_rating>\n<ratings_count>148137</ratings_count>\n<text_reviews_count>9339</text_reviews_count>\n</author>\n</authors>\n
        \ <published>1996</published>\n<work>  <id>649656</id>\n  <uri>kca://work/amzn1.gr.work.v1.gfwEmwQLE1_ryJXanGVZmg</uri>\n</work></book>\n\n\n
        \   <read_statuses>\n        <read_status>\n          <id type=\"integer\">1818452230</id>\n
        \         <old_status>to-read</old_status>\n          <status>read</status>\n
        \         <updated_at type=\"datetime\">Thu Apr 27 12:26:05 -0700 2017</updated_at>\n
        \         <ratings_count>0</ratings_count>\n          <comments_count>0</comments_count>\n
        \       </read_status>\n        <read_status>\n          <id type=\"integer\">1715780692</id>\n
        \         <old_status></old_status>\n          <status>to-read</status>\n
        \         <updated_at type=\"datetime\">Thu Feb 16 10:35:06 -0800 2017</updated_at>\n
        \         <ratings_count>12</ratings_count>\n          <comments_count>9</comments_count>\n
        \       </read_status>\n    </read_statuses>\n  <rating>5</rating>\n  <votes>149</votes>\n
        \ <spoiler_flag>false</spoiler_flag>\n  <spoilers_state>none</spoilers_state>\n
        \ \n\n<shelves>\n    <shelf name=\"read\" exclusive=\"true\" id=\"6268068\"
        review_shelf_id= \"\"/>\n\n</shelves>\n\n  <recommended_for></recommended_for>\n
        \ <recommended_by></recommended_by>\n  <started_at></started_at>\n  <read_at></read_at>\n
        \ <date_added>Thu Feb 16 10:35:06 -0800 2017</date_added>\n  <date_updated>Thu
        Apr 27 12:26:21 -0700 2017</date_updated>\n  <read_count>1</read_count>\n
        \ <body>\n      <![CDATA[good book!]]>\n  </body>\n\n  \n\n  <comments_count>32</comments_count>\n
        \   <comments start=\"1\" end=\"32\" total=\"32\">\n        <comment>\n  <id>165662486</id>\n
        \ <body><![CDATA[Fantastic review, Elyse. I have this one at home and always
        had a good feeling about it. I shall look a little more forward to it now!!]]></body>\n
        \ \n  <user>\n    <id>6003113</id>\n    <uri>kca://profile:goodreads/AURXDBI60UBGM</uri>\n
        \   <name>Mike</name>\n    <display_name>Mike</display_name>\n\n    <location>Winnipeg,
        MB, Canada</location>\n\n    <link><![CDATA[https://www.goodreads.com/user/show/6003113-mike]]></link>\n\n
        \   <image_url><![CDATA[https://images.gr-assets.com/users/1330719867p3/6003113.jpg]]></image_url>\n
        \   <small_image_url><![CDATA[https://images.gr-assets.com/users/1330719867p2/6003113.jpg]]></small_image_url>\n
        \   <has_image>true</has_image>\n\n  </user>\n\n  <created_at>Thu Apr 27 12:33:25
        -0700 2017</created_at>\n  <updated_at>Thu Apr 27 12:33:25 -0700 2017</updated_at>\n</comment>\n\n
        \       <comment>\n  <id>165662659</id>\n  <body><![CDATA[Mike --its soooooooooooooooooo
        good! I don't know why I waited. <br />I need a fresh air break --- but when
        I come back --I want to read other reviews....(or maybe I'll read some --from
        my iphone while walking) oxo oh --'do' read this one!]]></body>\n  \n  <user>\n
        \   <id>597461</id>\n    <uri>kca://profile:goodreads/A2ZJM6A94HHSR3</uri>\n
        \   <name>Elyse </name>\n    <display_name>Elyse  Walters</display_name>\n\n
        \   <location>San Jose, CA</location>\n\n    <link><![CDATA[https://www.goodreads.com/user/show/597461-elyse[...]
